@font-face {
  font-family: 'Basier Circle';
  src: url('BasierCircle-Regular.eot');
  src: local('Basier Circle Regular'), local('BasierCircle-Regular'),
      url('BasierCircle-Regular.eot?#iefix') format('embedded-opentype'),
      url('BasierCircle-Regular.woff2') format('woff2'),
      url('BasierCircle-Regular.woff') format('woff'),
      url('BasierCircle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle Medium';
  src: url('BasierCircle-Medium.eot');
  src: local('Basier Circle Medium'), local('BasierCircle-Medium'),
      url('BasierCircle-Medium.eot?#iefix') format('embedded-opentype'),
      url('BasierCircle-Medium.woff2') format('woff2'),
      url('BasierCircle-Medium.woff') format('woff'),
      url('BasierCircle-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle Bold';
  src: url('BasierCircle-Bold.eot');
  src: local('Basier Circle Bold'), local('BasierCircle-Bold'),
      url('BasierCircle-Bold.eot?#iefix') format('embedded-opentype'),
      url('BasierCircle-Bold.woff2') format('woff2'),
      url('BasierCircle-Bold.woff') format('woff'),
      url('BasierCircle-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cooper_lt_btlight';
  src: url('cooperbt-light-webfont.woff2') format('woff2'),
       url('cooperbt-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cooper_md_btmedium';
  src: url('cooperbt-medium-webfont.woff2') format('woff2'),
       url('cooperbt-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --body-color: #001524;
  --body-background-color: #F6F4EB;
  --header-button-color: #001524;
  --banner-button-color: #001524;
  --banner-button-text-color: #FFFFFF;
}

.dark-mode {
  --body-color: #FFFFFF;
  --body-background-color: #090030;
  --header-button-color: #FFFFFF;
  --banner-button-color: #FFD95A;
  --banner-button-text-color: #001524;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; 
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  color: var(--body-color);
  font-family: 'Basier Circle';
  background-color: var(--body-background-color);
}

/* Header */

header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  box-sizing: border-box;
}

.header__logo {
  fill: var(--body-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__column {
  display: flex;
  align-items: center;

  &.header__column--actions {
    display: flex;
    gap: 0.5rem;
  }
}

.header__button {
  background: none;
  border: none;
  padding: 0.25rem;
  line-height: 0;
  stroke: var(--header-button-color);
}

/* Banner */

.banner {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 3rem 1.5rem;
  box-sizing: border-box;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner__heading {
  font-weight: normal;
  margin: 0;
  font-size: 2rem;
  font-family: 'cooper_lt_btlight'; 

  span {
    font-family: 'cooper_md_btmedium';
  }
}

.banner__text {
  font-family: 'Basier Circle';
  font-size: 16px;
  line-height: 1.65;
  margin: 0;
}

.banner__button {
  align-self: flex-start;
  background-color: var(--banner-button-color);
  color: var(--banner-button-text-color);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: 'Basier Circle Medium';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 4px;
  // box-shadow: #e6e4db 10px 10px 0px;
}