@font-face {
  font-family: 'Basier Circle';
  src: url('BasierCircle-Regular.eot');
  src: local('Basier Circle Regular'), local('BasierCircle-Regular'),
      url('BasierCircle-Regular.eot?#iefix') format('embedded-opentype'),
      url('BasierCircle-Regular.woff2') format('woff2'),
      url('BasierCircle-Regular.woff') format('woff'),
      url('BasierCircle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle Medium';
  src: url('BasierCircle-Medium.eot');
  src: local('Basier Circle Medium'), local('BasierCircle-Medium'),
      url('BasierCircle-Medium.eot?#iefix') format('embedded-opentype'),
      url('BasierCircle-Medium.woff2') format('woff2'),
      url('BasierCircle-Medium.woff') format('woff'),
      url('BasierCircle-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle Bold';
  src: url('BasierCircle-Bold.eot');
  src: local('Basier Circle Bold'), local('BasierCircle-Bold'),
      url('BasierCircle-Bold.eot?#iefix') format('embedded-opentype'),
      url('BasierCircle-Bold.woff2') format('woff2'),
      url('BasierCircle-Bold.woff') format('woff'),
      url('BasierCircle-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cooper_lt_btlight';
  src: url('cooperbt-light-webfont.woff2') format('woff2'),
       url('cooperbt-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cooper_md_btmedium';
  src: url('cooperbt-medium-webfont.woff2') format('woff2'),
       url('cooperbt-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$nav-background-color: #1A1C20;

:root {
  --body-background-color: #F6F4EB;
  --primary-color: #000000;
  --secondary-color: #016A70;
  --accent-color: #016A70;
  --button-padding: 1rem;
  --border-color: #001524;
  --body-color: #001524;

  --nav-link-color: #ffffff;
  --navbar-background-color: #{$nav-background-color};
}

.dark-mode {
  --body-color: #ffffff;
  --body-background-color: #1A1C20;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--body-color);
  font-family: 'Basier Circle';
  background-color: var(--body-background-color);
}

.site-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 4rem auto;
  gap: 3rem;
}
 
/* Header */

header {
  margin-bottom: 3.5rem;
  padding: 1rem 0;
}

.header__container {
  @extend .site-container;
}

/* Sections */

.section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  transition: transform 0.25s ease-in-out;
}

.section__heading {
  font-family: 'Basier Circle Medium';
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}

.section__card {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 5px;
  border: 2px dashed #001524;
  box-shadow: #e6e4db 10px 10px 0px;
}

.section__card-content {
  position: relative;
  border-left: 2px dashed var(--primary-color);
  padding: 0 0 2rem 2rem;

  &:last-child {
    padding-bottom: 0;
  }
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'cooper_md_btmedium';
  font-weight: normal;
}

.heading {
  margin: 0;
  font-family: 'cooper_lt_btlight';

  span {
    font-family: 'cooper_md_btmedium';
  }

  @media only screen and (min-width: 767px) {
    font-size: 2.85rem;
  }
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

.cv__projects {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    border-bottom: 2px dashed #000000;

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    padding: 1rem;
    color: black;
    border-radius: 5px;
  }
}

.cv {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.cv__row {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 5px;
  border: 2px dashed #001524;
  box-shadow: #e6e4db 10px 10px 0px;
}

.cv__position {
  margin-top: 0;
}

.cv__date {
  margin-bottom: 0;
}

.cv__indicator {
  position: absolute;
  top: -2px;
  left: -15px;
  border: 2px dashed var(--primary-color);
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--body-background-color);
  transition: 0.5s;

  &.cv__indicator--present {
    animation: 1s scale-indicator ease-in-out infinite;
  }
}

.cv__indicator-inner {
  background-color: var(--primary-color);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.5s;

  .cv__indicator--present & {
    animation: 1s color-indicator ease-in-out infinite;
  }
}

/* Animations */

@keyframes color-indicator {
  0% {
    background-color: var(--primary-color);
  }

  50% {
    background-color: var(--secondary-color);
  }

  100% {
    background-color: var(--primary-color);
  }
}

@keyframes scale-indicator {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
