/* Fonts */
@font-face {
  font-family: "Cooper Light";
  src: url("../assets/cooperbt-light-webfont.woff2") format("woff2"), url("../assets/cooperbt-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cooper Medium";
  src: url("../assets/cooperbt-medium-webfont.woff2") format("woff2"), url("../assets/cooperbt-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("../assets/BasierCircle-Regular.woff2") format("woff2"), url("../assets/BasierCircle-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle Medium";
  src: url("../assets/BasierCircle-Medium.woff2") format("woff2"), url("../assets/BasierCircle-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle Bold";
  src: url("../assets/BasierCircle-Bold.woff2") format("woff2"), url("../assets/BasierCircle-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* Root */
:root {
  --body-color: #FFFFFF;
  --body-overlay-opacity: 0.85;
  --body-background-color: #020e0e;
  --header-button-color: #FFFFFF;
  --banner-button-color: #C1F71E;
  --banner-button-text-color: #001524;
}

/* Modes */
.light-mode {
  --body-color: #001524;
  --body-overlay-opacity: 0.95;
  --body-background-color: #F6F4EB;
  --header-button-color: #001524;
  --banner-button-color: #001524;
  --banner-button-text-color: #FFFFFF;
}

/* General */
body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  color: var(--body-color);
  font-family: "circular_stdbook";
  background-color: var(--body-background-color);
  background: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  opacity: var(--body-overlay-opacity);
}

/* Header */
header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  box-sizing: border-box;
  z-index: 2;
}

.header__logo {
  fill: var(--body-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__column {
  display: flex;
  align-items: center;
}
.header__column.header__column--actions {
  display: flex;
  gap: 0.5rem;
}

.header__button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 0.25rem;
  line-height: 0;
  stroke: var(--header-button-color);
}
.header__button.header__button--toggle {
  fill: var(--header-button-color);
}
.light-mode .header__button.header__button--toggle {
  fill: none;
}

/* Banner */
.banner {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 3rem 1.5rem;
  box-sizing: border-box;
  position: relative;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner__heading {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
  font-family: "Cooper Light";
}
.banner__heading span {
  font-family: "Cooper Medium";
}

.banner__text {
  font-family: "Basier Circle";
  font-size: 16px;
  line-height: 1.65;
  margin: 0;
}

.banner__button {
  align-self: flex-start;
  background-color: var(--banner-button-color);
  color: var(--banner-button-text-color);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: "Basier Circle Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 4px;
}

nav {
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  transition: 0.5s;
}
nav.nav--active {
  visibility: visible;
  opacity: 1;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: #FFFFFF;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Basier Circle";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

/*# sourceMappingURL=styles.css.map */
