/* Fonts */
@font-face {
  font-family: "honestblack";
  src: url("../assets/fonts/honest-black-webfont.woff2") format("woff2"), url("../assets/fonts/honest-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestblack_italic";
  src: url("../assets/fonts/honest-blackitalic-webfont.woff2") format("woff2"), url("../assets/fonts/honest-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestbold";
  src: url("../assets/fonts/honest-bold-webfont.woff2") format("woff2"), url("../assets/fonts/honest-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestbold_italic";
  src: url("../assets/fonts/honest-bolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/honest-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestheavy";
  src: url("../assets/fonts/honest-heavy-webfont.woff2") format("woff2"), url("../assets/fonts/honest-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestheavy_italic";
  src: url("../assets/fonts/honest-heavyitalic-webfont.woff2") format("woff2"), url("../assets/fonts/honest-heavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestitalic";
  src: url("../assets/fonts/honest-italic-webfont.woff2") format("woff2"), url("../assets/fonts/honest-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestlight";
  src: url("../assets/fonts/honest-light-webfont.woff2") format("woff2"), url("../assets/fonts/honest-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestlight_italic";
  src: url("../assets/fonts/honest-lightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/honest-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestmedium";
  src: url("../assets/fonts/honest-medium-webfont.woff2") format("woff2"), url("../assets/fonts/honest-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestmedium_italic";
  src: url("../assets/fonts/honest-mediumitalic-webfont.woff2") format("woff2"), url("../assets/fonts/honest-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "honestregular";
  src: url("../assets/fonts/honest-regular-webfont.woff2") format("woff2"), url("../assets/fonts/honest-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Root */
:root {
  --body-color: #001524;
  --body-background-color: #F6F4EB;
  --header-button-color: #001524;
}

/* Modes */
.dark-mode {
  --body-color: #FFFFFF;
  --body-background-color: #001524;
  --header-button-color: #FFFFFF;
}

/* General */
body,
html {
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  color: var(--body-color);
  background-color: var(--body-background-color);
  font-family: "circular_stdbook";
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.header__logo {
  color: var(--body-color);
  line-height: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__column {
  display: flex;
  align-items: center;
}
.header__column.header__column--actions {
  display: flex;
  gap: 0.5rem;
  margin-right: -0.25rem;
}

.header__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  line-height: 0;
}
.header__button svg path {
  fill: var(--body-color);
}
.dark-mode .header__button svg path {
  fill: none;
}
.header__button svg path:first-child {
  fill: none;
}
.dark-mode .header__button svg path:first-child {
  fill: var(--body-color);
}

/* Hero */
.hero {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .hero {
    align-items: center;
    padding: 2rem 10rem;
  }
}

.hero__content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero__heading {
  margin: 0;
  font-size: 1.75rem;
  font-weight: normal;
  font-family: "honestmedium";
}
.hero__heading span {
  font-family: "honestbold";
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 4rem;
  }
}

.hero__text {
  display: flex;
  align-items: center;
}

.hero__text-accent {
  display: none;
  flex: 1;
  width: 100%;
  height: 2px;
  background-color: var(--body-color);
}
@media (min-width: 768px) {
  .hero__text-accent {
    display: block;
  }
}

.hero__subheading {
  margin: 0;
  font-size: 18px;
  font-family: "honestmedium_italic";
  line-height: 1.65;
}
@media (min-width: 768px) {
  .hero__subheading {
    font-size: 24px;
    padding-left: 3rem;
  }
}

.hero__button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
  color: var(--body-background-color);
  background-color: var(--body-color);
  padding: 1rem;
  text-decoration: none;
  font-family: "honestbold_italic";
  border-radius: 50px;
}
@media (min-width: 768px) {
  .hero__button {
    font-size: 18px;
    padding: 1.5rem;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */
